* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .box {
      padding: 5px;
      margin: 5px 0px;
      border-radius: 5px;
  }

  #travelForm {
      text-align: center;
      width: auto;
      margin: 20px;
      padding: 20px;
      border: dotted goldenrod 4px;
  }

  input {
      margin: 15px 5px;
  }

  button {
      background-color: rgb(98, 194, 103);
      width: 100px;
      height: 40px;
      font-size: 15px;
      border-radius: 5px;
  }

  select {
      width: 150px;
      height: 30px;
      padding: 15px;
      font-size: 15px;
  }